*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: block;
    width: 80%;
    margin: 75px auto;
    padding: 20px;
    border: 1px cadetblue solid;

}
h1{
    margin-left: 4px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: medium;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.grid{
    float:left;
    width: 100%;
    margin: auto;
    padding: 2px;
}
.product{
    float: left;
    width: 24%;
    margin:4px;
    padding: 2px;
    border-color:gray;
    border-radius:4px;
    border-width: 1px;
    border-style: solid;
}
.phone{
    display:block;
    width: 50%;
    margin: auto;
    color: cadetblue;
}
.product h2{
    margin:1px;
    padding: 1px;
    font-size: small;
    font-weight: 700;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.product p{
    margin:1px;
    padding: 1px;
    font-size: small;
    font-weight: 300;
    color:gray;
}
.buttons{
    float: left;
    width: 100%;
    margin:1px;
    padding: 1px;
}
.newPrice{
    margin:1px;
    padding: 1px;
    font-size: small;
    font-weight: 300;   
    color: green;
}
.oldPrice{
    margin:1px;
    padding: 1px;
    font-size: small;
    font-weight: 300;
    color: red;
}
.cart{
    font-size: x-small;
    text-align: center;
    width:fit-content;
    margin: 4px;
    padding: 4px;
    color: white;
    background-color: dodgerblue;
    border: blue 1px solid;
}
.like{
    font-size: x-small;
    width:fit-content;
    margin: 4px;
    padding: 4px;
    color: dodgerblue;
    background-color: white;
    border: blue 1px solid;
}
svg{
    margin:0px 3px;
}
.clearfix{
    clear: left;
}